extend layout 

block content 
    h1 Login
    form(action="/users/login", method="post")
        .mb-3 
            label.form-label(for="username") Username
            input.form-control#username(name="username", type="text", value=username)
        .mb-3 
            label.form-label(for="password") Password 
            input.form-control#password(name="password", type="password")
        br
        button.btn.btn-primary(type="submit") Submit